<a href="https://colab.research.google.com/github/victoriahebling/laranjas/blob/main/Etapa1_separando_as_classes/Classifica%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from google.colab import files

In [ ]:
!git clone https://github.com/ucfilho/Victoria_Master
%cd Victoria_Master

Cloning into 'Victoria_Master'...
remote: Enumerating objects: 11, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 11 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (11/11), done.
/content/Victoria_Master

In [ ]:
# leitura dos dados
df =pd.read_excel("Dados laranjas.xlsx")

In [ ]:
!ls

'Dados laranjas.xlsx'   Etapa1	 README.md

In [ ]:
df.describe() # summary

       Tipo   Laranja  ...  Temperatura ambiente °C  Unnamed: 11
count   80.0  80.0000  ...                60.000000          0.0
mean     1.0  40.5000  ...                21.533333          NaN
std      0.0  23.2379  ...                 1.371213          NaN
min      1.0   1.0000  ...                19.000000          NaN
25%      1.0  20.7500  ...                21.000000          NaN
50%      1.0  40.5000  ...                21.000000          NaN
75%      1.0  60.2500  ...                23.000000          NaN
max      1.0  80.0000  ...                23.000000          NaN

[8 rows x 12 columns]

In [ ]:
Brix = np.array(df['Brix suco'])
Y = []
for xx in Brix:
  if(xx < 9.000000):
    Y.append(0)
  elif(xx < 9.400000):
    Y.append(1)
  else:
    Y.append(2)

print(Y)

[2, 2, 2, 2, 2, 1, 0, 0, 2, 0, 2, 1, 1, 2, 2, 1, 1, 0, 2, 2, 2, 1, 2, 2, 2, 2, 0, 1, 1, 1, 1, 1, 0, 2, 2, 2, 2, 2, 2, 1, 0, 2, 1, 0, 2, 2, 1, 1, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [ ]:
df['Brix_Cat']=Y

In [ ]:
df

    Tipo   Laranja  Massa (g)  ...  OBSERVAÇÕES    Unnamed: 13  Brix_Cat
0       1        1      112.0  ...         Tipo            NaN         2
1       1        2      173.0  ...            1           Pera         2
2       1        3      106.0  ...          NaN            NaN         2
3       1        4      167.0  ...         Furo  Diâmetro (cm)         2
4       1        5       94.0  ...            1            5.5         2
..    ...      ...        ...  ...          ...            ...       ...
75      1       76        NaN  ...          NaN            NaN         2
76      1       77        NaN  ...          NaN            NaN         2
77      1       78        NaN  ...          NaN            NaN         2
78      1       79        NaN  ...          NaN            NaN         2
79      1       80        NaN  ...          NaN            NaN         2

[80 rows x 15 columns]

In [ ]:
pH = np.array(df['Ph do suco'])
Y = []
for xx in pH:
  if(xx < 3.932500):
    Y.append(0)
  elif(xx < 4.040000):
    Y.append(1)
  else:
    Y.append(2)

print(Y)

[0, 0, 2, 1, 2, 0, 2, 2, 1, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 0, 0, 2, 1, 0, 2, 0, 1, 2, 0, 0, 1, 0, 0, 0, 0, 2, 0, 1, 1, 1, 2, 2, 2, 2, 2, 2, 0, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [ ]:
df['pH_Cat']=Y

In [ ]:
Arq = "output.xlsx"
df.to_excel(Arq)
files.download(Arq)